#left
  #map-canvas
#right
  .row
    .small-12.columns
      %h1 MyFavor.it
  .row
    .small-4.columns
      %input#start.button.radius{type: 'button', value: 'START'}
    .small-4.columns
      %input#stop.button.radius{type: 'button', value: 'STAHP'}
    .small-4.columns
      %input#erase.button.radius{type: 'button', value: 'CLEAR'}
  .row
    .small-12.columns
      %input#add_marker{type: 'text', placeholder: 'Add Favorite', autofocus: true}
  .row
    .small-12.columns
      %input#favorite.button.round{type: 'button', value: 'FAVORITE'}
