!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Foundation 4
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row
    .small-12.columns
      %h1 To Mark.it
  .row
    .small-4.columns
      %input#symbol{type: 'text', placeholder: 'Symbol'}
    .small-4.columns
      %input#quantity{type: 'text', placeholder: 'Quantity'}
    .small-4.columns
      %input#buy.button.radius.success.small{type: 'button', value: 'Buy'}
  .row
    .small-5.columns
      %p#create_funds
    .small-7.columns
  .row
    .small-3.columns
      %input#funds{type: 'text', placeholder: 'Starting Funds'}
    .small-3.columns
      %input#add_funds.button.radius.success.small{type: 'button', value: 'Set Funds' }
    .small-3.columns
      %input#interval{type: 'text', placeholder: 'Interval'}
    .small-3.columns
      %input#add_interval.button.radius.success.small{type: 'button', value: 'Set Interval'}
  .row
    .small-2.columns
      %h4.subheader Total
    .small-3.columns
      %input#grand_total{type: 'text', readonly: true}
    .small-7.columns
  .row
    .small-12.columns
      %table#stock_list
        %th Name
        %th Symbol
        %th Quote
        %th Purchased
        %th Total




  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/vendor/moment.min.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}
