@import url(http://fonts.googleapis.com/css?family=Tienne:400,700);
body {
  font-family: 'Tienne', serif;
  background: maroon url(../img/maroon_gradient.jpg);
  background-size: cover; }

h1 {
  font-family: 'Tienne', serif;
  text-align: center;
  color: darkgray;
  margin: 25px 0 25px 0;
  font-weight: bolder;
  font-size: 70px; }

#gt_div {
  background-color: gray;
  border-radius: 25px;
  text-align: center;
  margin: 25px; }

#total_cost {
  background-color: gray;
  border-radius: 25px;
  text-align: center;
  margin: 25px; }

table#items {
  width: 100%;
  text-align: center; }

th {
  background-color: brown; }
