@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);

body {
  width: 960px;
  margin: 0 auto;
  background-color: #628b8b;
  font-family: 'Gudea', sans-serif;
}

header {
  padding-top: 5px;
}

header > h1 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 36px;
  color: orange;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

#navbar {
  margin-top: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  /*Gradient Background*/
  background-image: #024958;
  background-image: -webkit-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -moz-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -o-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -ms-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: linear-gradient(bottom, #002f2f 0%, #046380 100%);

  /*Box Shadow*/
  -webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.52);
  -moz-box-shadow:    0px 0px 17px rgba(50, 50, 50, 0.52);
  box-shadow:         0px 0px 17px rgba(50, 50, 50, 0.52);

}
#navbar ul{
  margin: 0 auto;
  text-align: center;

}

#navbar > nav > ul > li{
  display: inline-block;
  padding: 15px 5px 15px 5px;
  margin-left: 15px;
  margin-right: 15px;


}

#navbar > nav > ul > li:hover {
  background-color:#628b8b;
}


#navbar > nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: orange;
}

.jazzmaster {
  padding: 10px;
}

}

section > h1 {
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 12px;
  margin: 12px;
}

section > h2 {
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 18px;
  padding-left: 12px;
}

section > h3 {
  font-size: 22.5px;
  padding-bottom: 18px;
  padding-left: 12px;
}

section > h4 {
  font-size: 18px;
}

section > img {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  float: left;
}

section > p {
  width: 672px;
  height: 200px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin: 10px;
  font-size: 15px;
  line-height: 16px;
  background-color: white;
  display: inline-block;
  height: 200px;
}

.btn > section {
  float: left;
}

.content_bg {
  padding-right: 14px 24px 24px 14px;
}

section > .btn > .content_bg > p {
  height: 220px;
}

section > ul {
  margin: 12px;
  padding: 12px;
}

section > ul > li {
  list-style: inside disc;
  padding-left: 15px;
  padding-top: 12px;
  background-color: white;
}

section > h1 {
  padding-left: 10px;
  font-size: 40px;
}

.clear {
  clear: both;
}

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  /*Gradient Background*/
  background-image: #024958;
  background-image: -webkit-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -moz-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -o-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: -ms-linear-gradient(bottom, #002f2f 0%, #046380 100%);
  background-image: linear-gradient(bottom, #002f2f 0%, #046380 100%);

  /*Box Shadow*/
  -webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.52);
  -moz-box-shadow:    0px 0px 17px rgba(50, 50, 50, 0.52);
  box-shadow:         0px 0px 17px rgba(50, 50, 50, 0.52);

  overflow: hidden;
}

.btn > .content_bg {
  height: 260px;
}

.btn > .content_bg > p {
  background-color: white;
  margin: 12px 15px 20px 12px;
  font-size: 18px;
  height: 180px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: orange;
}

.price {
  text-align: center;
}

.price > h2 {
  color: orange;
}

.price > a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.price > a:visited {
  text-decoration: none;
  color: orange;
}

.indent {
  text-indent: 40px;
}

.faq > dl {
  font-size: 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  line-height: 20px;
  background-color: white;
}

.faq > dl:nth-child(odd) {
  font-style: bold;
}

.bold {
  font-weight: bold;
}

.shoppingcart > h1 {
  padding-bottom: 12px;
}

.shoppingcart > h2 {
  background-color: white;
}

.shoppingcart > h3 {
  background-color: white;
}

.shoppingcart > h4 {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 50px;
}

.total {
  text-align: center;
}

.checkout > a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.checkout > h3 {
  padding: 15px;
  text-align: center;
}


footer {
  color: orange;
  bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  clear: both;
}