doctype 5
html
  head
    title Dogs!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Node Rocks!!!
    p Welcome to Node
    img(src='http://thumbs.dreamstime.com/z/beautiful-irish-wolfhound-dog-14942389.jpg');