!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Inventory System
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row
    .small-12.columns
      %h1 INVENTORY SYSTEM
  .row
    .small-3.columns
      %input#person{type: 'text', placeholder: 'Full Name'}
    .small-7.columns
      %input#address{type: 'text', placeholder: 'Address'}
    .small-2.columns
      %input#save.button.small.radius{type: 'button', value: 'Save'}

  .row
    .small-2.columns
      %input#name{type: 'text', placeholder: 'Item Name', autofocus: true}
    .small-1.columns
      %input#count{type: 'text', placeholder: 'Count'}
    .small-1.columns
      %input#value{type: 'text', placeholder: 'Value'}
    .small-2.columns
      %input#room{type: 'text', placeholder: 'Room'}
    .small-2.columns
      %input#condition{type: 'text', placeholder: 'Condition'}
    .small-2.columns
      %input#date_purchased{type: 'text', placeholder: 'Date Purchased'}
    .small-2.columns
      %input#add.button.small.success.radius{type: 'button', value: 'Add'}
  .row
    .small-12.columns
      %table#items
        %tr
          %th Name
          %th Count
          %th Value
          %th Room
          %th Condition
          %th Date Purchased

  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}
