.row
  .small-2.columns
    %input#school{type: 'text', placeholder: 'School', autofocus: true}
  .small-2.columns
    %input#length{type: 'text', placeholder: 'Length'}
  .small-2.columns
    %input#width{type: 'text', placeholder: 'Width'}
  .small-6.columns
    %input#add-school.button.small.radius{type: 'button', value: 'Add School'}
.row
  .small-2.columns
    %input#student{type: 'text', placeholder: 'Student'}
  .small-2.columns
    %input#gpa{type: 'text', placeholder: 'GPA '}
  .small-2.columns
    %select#pick-school
  .small-6.columns
    %input#add-student.button.small.radius{type: 'button', value: 'Add Student'}
.row
  .small-3.columns
    %input#subject{type: 'text', placeholder: 'Subject'}
  .small-3.columns
    %select#pick-student{type: 'text', placeholder: 'GPA '}
  .small-6.columns
    %input#add-subject.button.small.radius{type: 'button', value: 'Add Subject'}