#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.round.success{type: 'button', value: 'Start'}
  .row
    .small-12.columns
      %input#start.button.round.alert{type: 'button', value: 'Stop'}