@base: blue;
@import url(http://fonts.googleapis.com/css?family=Monofett);

body{
  // background-color: @base;
  background: blue url('http://www.wallpaperfull.com/stockimage/black-gradient-background.jpg');
}

ul {
  list-style: none;
}

audio{
  margin: 20px 0 12px 30%;
}

#header{
  background-color: lightblue;
  width: 100%;
  border: 12px solid gray;
}

.album{
  width: 150px;
  height: 150px;
  float: left;
  margin: 20px;
}



#titleButton{
  width: 54px;
}

#top{
  color: orange;
  background: blue url('http://www.wallpaperfull.com/stockimage/black-gradient-background.jpg');
  text-align: center;
}

legend{
  color: orange;
}

h3{
  text-align: center;
}

#header_image_left{
  float: left;
  margin-top: 18px;
}

#header_text{
  font-size: 80px;
  text-align: center;
  float: left;
  margin-left: 150px;
  font-family: 'Monofett', cursive;
}

#header_image_right{
  float: right;
  margin-top: 18px;
}

#nav .button{
  margin-top: 15px;
  font-size: 25px;
}

#nav{
  background: blue url('http://www.wallpaperfull.com/stockimage/black-gradient-background.jpg');
}

.button:hover{
  -webkit-transform: scale(1.1);
}

label{
  color: orange;
  text-align: center;
}

#lyrics{
  height: 300px;
}

.song{
  background: gray;
  border: 50px solid black;
  border-radius: 2%;
}

.clear{
  clear: both;
}