/*@import url(http://fonts.googleapis.com/css?family=Belleza);
body {
  margin: auto;
  width: 960px;
  text-align: center;
  background: lightblue url(../images/bg.jpg);
  font-family: 'Belleza', sans-serif; }

th {
  padding: 25px; }
*/