!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title jQuery Checking Account
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Bank of Nashville
    %p#balance $1000.00
    %input#amount{type: 'text', placeholder: 'Enter amount:'}
    %input#deposit{type: 'button', value: 'deposit'}
    %input#withdraw{type: 'button', value: 'withdraw'}

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}