!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Address Book Project
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body

  .row
    .small-12.columns
      %h1 Address Book Project
  .row
    .small-2.columns
      %input#name{type: 'text', autofocus: 'true', placeholder: 'Name'}
    .small-2.columns
      %input#address{type: 'text', placeholder: 'Address'}
    .small-2.columns
      %input#website{type: 'text', placeholder: 'Website'}
    .small-2.columns
      %input#email{type: 'text', placeholder: 'Email'}
    .small-2.columns
      %input#photo{type: 'text', placeholder: 'Image URL'}
    .small-2.columns
      %input#add.button.small.radius.success{type: 'button', value: 'Add Contact'}
  .row
    .small-12.columns
      #people


  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/vendor/moment.min.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}