.row#header
  .small-12.columns
    img#header_image_left(src='https://cdn2.iconfinder.com/data/icons/large-svg-icons-part-3/512/music_notes_audio_play-128.png')
    h1.subheader#header_text MixMaster
    img#header_image_right(src='https://cdn2.iconfinder.com/data/icons/large-svg-icons-part-3/512/music_notes_audio_play-128.png')