.row#nav
  .small-2.columns
    a.button.small.round.expand(href='/') Home
  .small-2.columns
    a.button.small.round.expand(href='/songs') Songs
  .small-2.columns
    a.button.small.round.expand(href='songs/new') Add Song
  .small-2.columns
    a.button.small.round.expand(href='/artists') Artists
  .small-2.columns
    a.button.small.round.expand(href='/artists/new') Add Artist
  .small-2.columns
    a.button.small.round.expand(href='#') Obituaries