.row#nav
  .small-4.columns
    a.button.small.round.expand(href='/') Home
  .small-4.columns
    a.button.small.round.expand(href='/songs') Songs
  .small-4.columns
    a.button.small.round.expand(href='songs/new') Add Song