body
{
  background-color: tan;
}

.photo
{
  float: left;
  width: 200px;
  height: 200px;
  border: 1px dashed #cccccc;
  margin: 10px;
  background-size: cover;
}

#query
{
  float: left;
}

.highlight
{
  border: 2px solid red;
}