html, body, #map-canvas
{
  height: 100%;
  background-color: black;
}

#map-canvas
{
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

#left
{
  float: left;
  height: 100%;
  width: 92%;
}

#right
{
  float: left;
  width: 8%;
}

.button
{
  width: 120px;
}

#debug
{
  color: red;
}